html, body {
  padding: 0;
  margin: 0;
}

body {
  background: black;
}

.led {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 3px;
  background-color: black;
}

.row {
  display: flex;
}
